.body__header {
    min-height: 10vh;
    height: 10vh;
    background-color: #003049;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.header__div_logo {

}

.header__navigation {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2px;
    background-color: black;
    
    height: 100%;
}

.navigation__a {
    background-color: #003049;
    height: 100%;
    min-width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;

    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in;
}

.navigation__a:hover {
    background-color: #669bbc;
}

